<a href="https://colab.research.google.com/github/prathap1/Real-Estate-prediction/blob/master/Assignment_1_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
a=[]
for i in range(2000,3000):
    if(i%7==0) and (i%5!=0):
        a.append(str(i))
print(",".join(a))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996

2. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name

In [0]:
first_name=input("Enter your First Name")
last_name=input("Enter your Last Name")
print(last_name +" " + first_name)

3.Write a Python program to find the volume of a sphere with diameter 12 cm.  
 
Formula: V=4/3 * π * r 3

In [0]:
#diameter 12cm so radius is 6 cm
pi=3.14
r= 6
v=4/3*pi*r**3
print("volume of a sphere with diameter 12 cm is",v)

volume of a sphere with diameter 12 cm is 904.3199999999999

4.Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [0]:
seq=input("enter the sequence of comma-separated numbers")
a=[]
a=seq.split(',')
print(a)

enter the sequence of comma-separated numbers1.34,534
['1.34', '534']

5. Create the below pattern using nested for loop in Python. 
 
 
*  
* *  
* * * 
* * * *  
* * * * *  
* * * *  
* * *  
* *  
*

In [0]:
l=5
for i in range(l):
    for j in range(i):
        print ('* ', end="")
    print('')
for i in range(l,0,-1):
    for j in range(i):
        print ('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

6. Write a Python program to reverse a word after accepting the input from the user. 
 
Sample Output: 
 
Input word: iNeuron 
 
Output: norueNi

In [0]:
a=input("enter a word")
b= a[::-1]
print(b)

enter a wordiNeuron
norueNi

7. Write a Python Program to print the given string in the format specified in the ​sample output. 
 WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens 
 
Sample Output: 
 
WE, THE PEOPLE OF INDIA,   having solemnly resolved to constitute India into a SOVEREIGN, !  SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC    and to secure to all its citizens

In [0]:
print("WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, ! SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens")

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, ! SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens

Note : - NOTE:​ ​The​ ​solution​ ​shared​ ​through​ ​Github​ ​should​ ​contain​ ​the​ ​source code​ ​used​ ​ and​  ​the​ ​output